body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/Soccer-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00b7ff;
}

.home-title {
  text-align: center;
  padding-top: 10px;
  color: rgb(112, 195, 214);
}
